<div class="center hero-unit">
  <h1>Welcome to the Mix_Twitter</h1>

  <h2>
    This is my first Ruby on Rails project built on
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("/images/Rails.png", alt: "Rails", width: 70, height: 70), 'http://vk.com/pavel_mix' %>

